.signup{
    display: flex;
    justify-content: center;
   
}
.signup_container{
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    color: #fff;
    border-radius: 5%;
    margin-top: 50px;
    padding: 20px;
    height: 400px;
    width: 300px;
}
h2{
    color: #fff;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 48;
    font-family: "Koh Santepheap";
}
label{
margin-left: 20px;
margin-bottom: 6px;
    display: block;
 font-size: 15px;
 font-family: "Koh Santepheap", serif;
  font-style: normal;

 font-style: normal;
}
input{
    width: 250px;
 border: none;
 border-bottom: 2px solid #fff; 
    background-color: transparent;
    color: #fff; 

    margin-bottom: 6px;
    margin-left: 20px;
}
button{
    background: linear-gradient(to right, #FF1EBB, #E448D0, #AE5CDE, #961FFF, #407AE0, #36B4E1, #04F7FF);
    margin-bottom: 8px;
    margin-left: 50px;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 400px;
  color: #ffffff;
  margin-top: 10px;
  font-family: 'Kode Mono', monospace;
  cursor: pointer;
}
p{
    font-family: "Koh Santepheap", serif;

  font-style: normal;
    margin-bottom: 5px;
    margin-left: 72px;
    color: #fff;
    font-size: 12px;
}
h4{
    font-family: "Koh Santepheap", serif;
 
  font-style: normal;
color: #6BE1EE;
    display: inline-block;
}