
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./Images/WhatsApp Image 2024-11-09 at 1.14.08 PM.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto; 
  width: 100%;
  filter: saturate(0.9);
  font-family: 'Arial', sans-serif; 
  overflow-x: hidden; 
}


@media screen and (max-width: 768px) {
  body {
    background-position: top; 
    background-size: auto 100%; 
    height:auto; 
   
  }
}

@media screen and (max-width: 480px) {
  body {
    background-position: top;
    background-size: cover; 
    height: auto; 
  }
}
